<ion-header>
  <ion-toolbar>
    <ion-title>Escaneo Codigo QR</ion-title>
    <ion-buttons slot="start">
    <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Escaneo de Código QR</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="primary">
        Para escanear un código QR, toca en la cámara del dispositivo móvil.
      </ion-text>
    </ion-card-content>
    <ion-card-content>
      <ion-button shape="round" class="vertical-center">
        <ion-icon name="scan-outline"> </ion-icon>
        Escanear
      </ion-button>
    </ion-card-content>

