ion-button {
    margin: 50;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 25%;
  }

ion-card {
    margin: 20px;
    height: 20%;
    
}